openpyxl
holidays
reportlab
tkcalendaropenpyxl>=3.1.2
holidays>=0.57
# Optional for PDF export
reportlab>=4.2.0
# Optional for selector de fecha (GUI mejorada)
tkcalendar>=1.6.1

#para correr el programa: >>  python generar_calendario_gui.py